[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow-hub = "*"
tensorflow = "*"
flask = "*"
scipy = "*"
cerberus = "*"
coverage = "*"
pytest-mock = "*"

[dev-packages]
pylint = "*"
black = "*"
pytest = "*"
coverage = "*"

[requires]
python_version = "3.7"
